@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	--main-bg: #7360df;
	--home-page-tint: rgba(255, 255, 255, 0.2);
	--nav-bar-size: 60px;
	--se-bg: #ca006c;
	--te-bg: #2b016d;
	--nav-bar-initial: #7360df;
	--text-color: #ffffff;
	--clickable-dropdown-bg: transparent;
	--clickable-dropdown-header-bg: transparent;
	--triangle-size: 15px;
}

/* style classes */

.center-horizontal {
	text-align: center;
	width: 100%;
	position: relative;
	right: 50%;
	transform: translateX(50%);
}

.video-center-horizontal {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.center-horizontal-image {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.hyperlink {
	color: blue;
}

.greenText {
	color: green;
}

.redText {
	color: red;
}

.box {
	width: 60%;
	margin: 35px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #999;
	border-radius: 15px;
	overflow: hidden;
	/* background: #e6f0e7; */
	background: #f7f7f7;
	color: black;
}

.box h3 {
	background: rgb(56, 123, 201);
	color: white;
	padding: 0.5em;
}

.box p {
	padding: 0.5em;
}

ul {
	list-style: none;
}

main ul.task-list>li {
	display: flex;
	align-items: center;
	gap: 1rem;
	/* border: 1px solid black; */
	padding: 1em 2em;
}

main ul.task-list>li input {
	accent-color: var(--nav-bar-initial);
	height: 1.5rem;
	width: 1.5rem;
}

a {
	color: inherit;
}

html {
	overflow-x: hidden;
	margin-right: calc(100% - 100vw);
}

body,
html,
div#root {
	position: relative;
	height: 100%;
}

body {
	/* background: var(--main-bg); */
	/* background: url("../media/homepage-background.jpg") no-repeat center center; */
	/* background-attachment: fixed; */
	/* SOURCE https://www.wallpaperflare.com/gradient-blue-pink-abstract-art-wallpaper-cvxen */
	color: var(--text-color);
}

.page-header {
	height: 70%;
	/* background: url("../media/basketball.jpg") no-repeat; */
	/* SOURCE https://www.wallpaperflare.com/brown-basketball-ball-and-white-and-orange-basketball-hoop-ring-wallpaper-qwui/download */
	background-position: 0 18%;
	background-size: cover;
	position: relative;
	isolation: isolate;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.page-header::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background: var(--home-page-tint);
}

.page-header h1 {
	font-family: "Archivo", sans-serif;
	font-size: 3rem;
	font-weight: 900;
	/* text-align: center; */
}

.header-text {
	display: flex;
	flex-direction: column;
	/* text-align: center; */
	font-weight: bold;
	gap: 1em;
	padding: 1em 2em;
}

.header-text p {
	color: #5f5c5c;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.25rem;
}

.page-header img {
	height: 100%;
}

.navbar {
	height: var(--nav-bar-size);
	width: 100%;
	background: var(--nav-bar-initial);
	/* padding: 1em 2em; */
	background: #387bc9;
}

.navbar-list {
	width: 100%;
	height: 100%;
	display: flex;
	/* gap: 5px; */
	justify-content: center;
	align-items: center;
	color: black;
}

.nav-item {
	height: 75%;
	padding: 1em 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: white;
}

.is-selected {
	color: rgb(14, 52, 96);
}

.nav-item:hover {
	/* background-color: #fff;
	color: black;
	outline: var(--se-bg); */
	cursor: pointer;
}

.nav-item-text {
	transition: background-color 250ms linear, color 250ms linear;
	font-size: 0.7rem;
	/* height: 100%; */
	width: 100%;
	padding: 1em 2em;
	/* border-radius: 50rem; */
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
	font-family: "Nunito Sans", sans-serif;
	text-transform: uppercase;
	/* font-weight: bold; */
}

.nav-item-text:hover {
	/* background-color: #fff; */
	color: #2b016d;
	outline: var(--se-bg);
}

.dropdown {
	z-index: 1;
	/* avoid getting covered by bg img */
	position: absolute;
	top: calc(var(--nav-bar-size) - 2px);
	color: white;
	width: 10%;
	background: var(--te-bg);
	/* padding: 1rem; */
}

.dropdown-menu-item {
	font-family: "Nunito Sans", sans-serif;
	display: flex;
	flex-direction: column;
}

.dropdown-menu-item p {
	padding: 0.5rem;
	font-size: 80%;
	/* border: 1px solid white; */
}

main {
	padding: 1em 2em;
}

main.main-home-page {
	height: 42%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: #e2e8f5;
}

main .homepage-subtitle {
	color: black;
	font-size: 2.5rem;
	text-align: center;
	font-weight: bold;
	font-family: "Nunito Sans", sans-serif;
}

.content-container {
	width: 100%;
	padding: 1em;
	height: 50%;
	display: flex;
	flex-direction: row;
	gap: 25px;
	justify-content: center;
}

.clickable-dropdown {
	width: 80%;
	color: white;
	background: #347ccc;
	font-size: 1.2rem;
	cursor: pointer;
	transition: background 100ms linear;
}

.clickable-dropdown:hover {
	background: #183f6c;
}

.clickable-dropdown-header-container svg {
	width: 100%;
}

.clickable-dropdown-header-container {
	/* outline: 1px solid white; */
	height: 100%;
	padding: 1em 2em;
	display: grid;
	grid-template-columns: 10% 90%;
	justify-content: center;
	align-items: center;
}

/* .arrow-right {
	width: 0;
	height: 0;
	border-top: var(--triangle-size) solid transparent;
	border-left: calc(2 * var(--triangle-size)) solid color-mix(in srgb, var(--clickable-dropdown-header-bg) 90%, white);
	border-bottom: var(--triangle-size) solid transparent;
	transition: border-left 500ms linear;
}

.arrow-right:hover {
	border-left: calc(2 * var(--triangle-size)) solid white;
	cursor: pointer;
} */

.clickable-dropdown-header {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
	text-align: center;
}

.clickable-dropdown-body {
	padding: 1em 2em;
}

.main-lesson-page {
	color: black;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.15rem;
	min-height: 1000px;
	line-height: 1.6em;
	width: 85%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.time-limit {
	color: rgb(155, 155, 155);
	font-size: 1.25rem;
	text-align: center;
	font-weight: bold;
}

.main-lesson-page h1,
h2,
h3 {
	font-family: 'Archivo', sans-serif;
	font-weight: 800;
}

.main-lesson-page h1 {
	font-size: 2.25rem;
}

.main-lesson-page h2 {
	font-size: 1.9rem;
}

.main-lesson-page h3:not(.flashcard-title, .box-title, .card-title) {
	font-size: 1.75rem;
}

.main-lesson-page hr {
	margin: 1.25em 0;
}

.simulation-questions {
	width: 100%;
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.simulation-ss {
	width: 40%;
	/* position: relative; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
}

.displacement-figures {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.displacement-figures img {
	width: 40%;
}

.prac-problems-container {
	display: grid;
	width: 100%;
	position: relative;
	/* left: 50%;
	transform: translateX(-50%); */
	grid-template-columns: repeat(1, 1fr);
	gap: 2em;
}

.solution-video {
	width: 40%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.prac-problems-container>div {
	border: 1px solid black;
	border-radius: 15px;
	overflow: hidden;
	background: #f7f7f7;
}

.prac-problems {
	cursor: pointer;
	/* height: 420px; */
}

.prac-problems-front>*,
.prac-problems-back>* {
	padding: .5em;
}

.no-back-side {
	cursor: default;
}

.prac-problems h3 {
	background: #262686;
	color: white;
}

/* .prac-problems p {} */

.flashcard {
	border: 1px solid #999;
	border-radius: 15px;
	overflow: hidden;
	width: 60%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	perspective: 1000px;
	cursor: pointer;
	background: #f7f7f7;
}

.not-picked {
	display: none;
}

.card-front>*,
.card-back>* {
	padding: .5em;
}

.card-front h3,
.card-back h3 {
	background: #535C91;
	color: white;
}

.card-back div {
	display: flex;
	flex-direction: column;
}

.answer-alert {
	color: gray;
	text-align: right;
}

.lesson-one-gif-one {
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.flashcard-two-solution {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1em;
	justify-content: center;
	align-items: center;
}

.flashcard-two-solution img {
	width: 100%;
}

.flashcard-three-solution img {
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 10px 0;
}

.lesson-dot-navigation {
	position: relative;
	display: flex;
	/* justify-content: space-between; */
	align-items: flex-end;
	/* width: 100%; */
	/* width: 25%; */
	padding: 2em 2em 1em;
	gap: 2em;
	cursor: pointer;
	border-radius: 25px;
	/* changes for simplicity */
	left: 50%;
	transform: translateX(-50%);
}

.lesson-dot-navigation .lesson-dot-navigation-dot {
	position: relative;
	width: 20px;
	height: 20px;
	/* background: var(--te-bg); */
	border-radius: 50%;
	background: var(--main-bg);
	/* border: 1px solid var(--te-bg); */
	transition: all 250ms linear;
}


.current-lesson {
	/* filter: brightness(200%); */
	background: var(--te-bg) !important;
}

.prev-next {
	display: flex;
	padding: 1em 0 2em;
	width: 100%;
	position: relative;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
}

.prev-next button {
	width: 10%;
	padding: 1em 2em;
	background: var(--main-bg);
	color: white;
	border-radius: 9.6px;
	border: none;
	transition: background 150ms linear;
}

.prev-next button:hover {
	cursor: pointer;
	filter: brightness(125%);
}

.prev-next button:active {
	filter: brightness(125%);
}

.prev-next button:disabled {
	background: gray;
	cursor: default;
}

/* .lesson-dot-navigation-dot:nth-child(1)::before {
	content: '';
	position: absolute;
	width: 100vw;
	height: 10px;
	top: 50%;
	right: 18px;
	transform: translateY(-50%);
	background: white;
	z-index: -1;
}

.lesson-dot-navigation-dot:nth-last-child(1)::after {
	background: white;
	;
}

.lesson-dot-navigation-dot::after {
	content: '';
	position: absolute;
	width: 100vw;
	height: 10px;
	top: 50%;
	left: 18px;
	transform: translateY(-50%);
	background: var(--main-bg);
	z-index: -1;
} */

/* .part-of-bar,
.part-of-bar::after {
	background: var(--te-bg) !important;
} */

.lesson-dot-navigation .lesson-dot-navigation-dot:hover {
	scale: 125%;
	background: var(--te-bg);
	/* filter: brightness(200%); */
}

.lesson-two-grav-accel {
	width: 30%;
	filter: invert(1);
}

.lesson-two-free-fall-diagram {
	height: 40%;
}

.lesson-two-equations {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.lesson-two-equations span.__Latex__ {
	padding: 0.5em;
}

.indent {
	position: relative;
	left: 3em;
}

.main-lesson-page .iframe-container {
	width: 100%;
	height: 100%;
	padding: 1em 2em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lesson-one-equation-one {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}

.lesson-one-table {
	margin: 1em;
	position: relative;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: 1px solid #aaa;
	border-radius: 15px;
	overflow: hidden;
}

.lesson-one-table .center-horizontal {
	/* background: var(--main-bg); */
	border-bottom: 1px solid #aaa;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
}

.lesson-one-table p {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .25em;
	border: 1px solid #aaa;
}

.lesson-one-table p:nth-of-type(1),
.lesson-one-table p:nth-of-type(2) {
	background: var(--main-bg);
	color: white;
}

.confirmatory {
	width: 25%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

footer {
	background: #111146;
	padding: 2em 4em;
	width: 100%;
	display: grid;
	grid-template-columns: 40% 30% 30%;
	row-gap: 2em;
	line-height: 1.3em;
}

footer * {
	font-family: 'Nunito Sans';
}

footer .github-repo {
	display: flex;
	gap: 10px;
}

footer button {
	background: none;
	border: none;
	color: white;
	font-size: 1rem;
}

footer button:hover {
	cursor: pointer;
}

footer h3 {
	font-size: 1.2rem;
	letter-spacing: 1.5px;
	font-family: 'Montserrat', sans-serif;
}

footer div.misc {
	width: 100%;
	grid-column: 1 / -1;
}

footer hr {
	color: white;
}

footer a {
	overflow: hidden;
}

footer svg {
	overflow: hidden;
	border: 1px solid white;
	border-radius: 50%;
	padding: 0.2em;
	transition: background-color linear 250ms, color linear 250ms;
}

footer svg:hover {
	background-color: white;
	color: black;
}

@media only screen and (max-width: 1100px) {
	.page-header {
		height: 40%;
	}

	.page-header h1 {
		font-size: 4rem;
	}

	.navbar-list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav-item {
		width: 100%;
	}

	.dropdown {
		width: 15%;
	}

	.dropdown-menu-item p {
		font-size: 80%;
	}

	main.main-home-page {
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	main.main-home-page h1 {
		font-size: 3.5rem;
		font-family: 'Archivo', sans-serif;
	}

	.content-container {
		height: 50%;
	}

	.clickable-dropdown-header-container {
		width: 100%;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		gap: 2rem;
		font-size: 1.5rem;
		text-align: center;
	}

	.clickable-dropdown-header-container svg {
		align-self: start;
		justify-self: center;
	}

	.clickable-dropdown-header-container a {
		align-self: center;
		font-weight: normal;
	}

	.clickable-dropdown-header-container div {
		display: none;
	}
}

@media only screen and (max-width: 800px) {

	/* body {
        background: lightblue;
    } */
	.nav-item a p {
		display: none;
	}

	.page-header {
		height: 40%;
		width: 100%;
	}

	.page-header h1 {
		font-size: 4rem;
	}

	.clickable-dropdown {
		font-size: 0.9rem;
	}

	.content-container {
		height: 50%;
	}

	.clickable-dropdown-header-container {
		font-size: 150%;
	}

	.navbar-list {
		align-items: center;
		justify-content: center;
	}

	.dropdown {
		width: 15%;
	}

	.dropdown-menu-item p {
		font-size: 1.3rem;
	}

	main.main-home-page {
		height: 60%;
	}
}

@media only screen and (max-width: 600px) {

	/* body {
        background: lightgreen;
    } */
	.navbar {
		font-size: 0.8rem;
	}

	.nav-item-text:hover {
		background: inherit !important;
		color: inherit !important;
	}

	.dropdown-menu-item p {
		font-size: 80%;
	}

	.dropdown {
		width: 20%;
	}

	.clickable-dropdown {
		width: 100%;
		font-size: 0.75rem;
	}

	.arrow-right {
		border-top: calc(0.6 * var(--triangle-size)) solid transparent !important;
		border-left: calc(1.2 * var(--triangle-size)) solid color-mix(in srgb, var(--clickable-dropdown-header-bg) 90%, white);
		border-bottom: calc(0.6 * var(--triangle-size)) solid transparent !important;
	}
}