@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* TODO import all fonts to be used */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	--main-bg: #7360df;
	--home-page-tint: rgba(41, 27, 122, 0.3);
	--nav-bar-size: 60px;
	--se-bg: #ca006c;
	--te-bg: #2b016d;
	--nav-bar-initial: #7360df;
	--text-color: #ffffff;
	--clickable-dropdown-bg: transparent;
	--clickable-dropdown-header-bg: transparent;
	--triangle-size: 15px;
}

/* style classes */

.center-horizontal {
	text-align: center;
	width: 100%;
	position: relative;
	right: 50%;
	transform: translateX(50%);
}

.video-center-horizontal {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.center-horizontal-image {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.hyperlink {
	color: blue;
}

.greenText {
	color: green;
}

.redText {
	color: red;
}

.box {
	width: 80%;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid black;
	background: #e6f0e7;
}

.box h3 {
	background: #006000;
	color: white;
	padding: 0.5em;
}

.box p {
	padding: 0.5em;
}

ul {
	list-style: none;
}

main ul.task-list>li {
	display: flex;
	align-items: center;
	gap: 1rem;
	/* border: 1px solid black; */
	padding: 1em 2em;
}

main ul.task-list>li input {
	accent-color: var(--nav-bar-initial);
	height: 1.5rem;
	width: 1.5rem;
}

a {
	color: inherit;
}

html {
	overflow-x: hidden;
	margin-right: calc(100% - 100vw);
}

body,
html,
div#root {
	position: relative;
	height: 100%;
}

body {
	/* background: var(--main-bg); */
	/* background: url("../media/homepage-background.jpg") no-repeat center center; */
	/* background-attachment: fixed; */
	/* SOURCE https://www.wallpaperflare.com/gradient-blue-pink-abstract-art-wallpaper-cvxen */
	color: var(--text-color);
}

.page-header {
	height: 60%;
	background: url("../media/basketball.jpg") no-repeat;
	/* SOURCE https://www.wallpaperflare.com/brown-basketball-ball-and-white-and-orange-basketball-hoop-ring-wallpaper-qwui/download */
	background-position: 0 15%;
	background-size: cover;
	position: relative;
	isolation: isolate;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-header::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background: var(--home-page-tint);
}

.page-header h1 {
	font-family: "Playfair Display", serif;
	font-size: 4rem;
	padding: 1em 2em;
	text-align: center;
	font-weight: bold;
}

.navbar {
	height: var(--nav-bar-size);
	width: 100%;
	background: var(--nav-bar-initial);
	/* padding: 1em 2em; */
	/* background: transparent; */
}

.navbar-list {
	width: 100%;
	height: 100%;
	display: flex;
	/* gap: 5px; */
	justify-content: flex-end;
	align-items: center;
	color: var(--text-color);
}

.nav-item {
	width: 13.5%;
	height: 75%;
	/* padding: 1em 2em; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.is-selected {
	font-weight: bold;
}

.nav-item:hover {
	/* background-color: #fff;
	color: black;
	outline: var(--se-bg); */
	cursor: pointer;
}

.nav-item-text {
	transition: background-color 250ms linear, color 250ms linear;
	font-size: 0.7rem;
	height: 100%;
	width: 100%;
	padding: 1em 2em;
	/* border-radius: 50rem; */
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
	font-family: "Libre Franklin", sans-serif;
	text-transform: uppercase;
	/* font-weight: bold; */
}

.nav-item-text:hover {
	/* background-color: #fff; */
	color: #2b016d;
	outline: var(--se-bg);
}

.dropdown {
	z-index: 1;
	/* avoid getting covered by bg img */
	position: absolute;
	top: calc(var(--nav-bar-size) - 2px);
	color: white;
	width: 10%;
	background: var(--te-bg);
	/* padding: 1rem; */
}

.dropdown-menu-item {
	font-family: "Libre Franklin", sans-serif;
	display: flex;
	flex-direction: column;
}

.dropdown-menu-item p {
	padding: 0.5rem;
	font-size: 80%;
	/* border: 1px solid white; */
}

main {
	padding: 1em 2em;
	font-family: 'Libre Franklin', sans-serif;
}

main.main-home-page {
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

main .homepage-subtitle {
	color: black;
	font-size: 2.5rem;
	text-align: center;
	font-weight: bold;
	font-family: "Libre Franklin", sans-serif;
}

.content-container {
	width: 100%;
	padding: 1em;
	height: 50%;
	display: flex;
	flex-direction: row;
	gap: 25px;
	justify-content: center;
}

.clickable-dropdown {
	width: 80%;
	background: #7360df;
	font-size: 1.1rem;
	font-family: Montserrat, sans-serif;
}

.clickable-dropdown-header-container {
	/* outline: 1px solid white; */
	height: 100%;
	padding: 1em 2em;
	background: var(--clickable-dropdown-header-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: var(--triangle-size) solid transparent;
	border-left: calc(2 * var(--triangle-size)) solid color-mix(in srgb, var(--clickable-dropdown-header-bg) 90%, white);
	border-bottom: var(--triangle-size) solid transparent;
	transition: border-left 500ms linear;
}

.arrow-right:hover {
	border-left: calc(2 * var(--triangle-size)) solid white;
	cursor: pointer;
	/* background: color-mix(in srgb, var(--clickable-dropdown-header-bg) 90%, white); */
}

.clickable-dropdown-header {
	font-family: "Lato", sans-serif;
	font-weight: 700;
}

.clickable-dropdown-body {
	padding: 1em 2em;
}

.main-lesson-page {
	color: black;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.05rem;
	line-height: 1.5rem;
}

.prac-problems-container {
	display: grid;
	width: 95%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	grid-template-columns: repeat(1, 1fr);
	gap: 2em;
}

.solution-video {
	width: 40%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.prac-problems-container>div {
	border: 1px solid black;
	background: #e9e9f1;
}

.prac-problems {
	cursor: pointer;
	/* height: 420px; */
}

.prac-problems-front>*,
.prac-problems-back>* {
	padding: .5em;
}

.no-back-side {
	cursor: default;
}

.prac-problems h3 {
	background: #262686;
	color: white;
}

/* .prac-problems p {} */

.flashcard {
	border: 1px solid black;
	width: 60%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	perspective: 1000px;
	cursor: pointer;
}

.not-picked {
	display: none;
}

.card-front>*,
.card-back>* {
	padding: .5em;
}

.card-front h3,
.card-back h3 {
	background: #bf0000;
	color: white;
}

.card-back div {
	display: flex;
	flex-direction: column;
}

.answer-alert {
	color: gray;
	text-align: right;
}

.lesson-one-gif-one {
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.flashcard-two-solution {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
}

.flashcard-two-solution img {
	width: 100%;
}

.flashcard-three-solution img {
	width: 50%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.lesson-dot-navigation {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	padding: 2em 2em 1em;
	gap: 1em;
	cursor: pointer;
	border-radius: 25px;
}

.lesson-dot-navigation .lesson-dot-navigation-dot {
	position: relative;
	width: 20px;
	/* background: var(--te-bg); */
	border-radius: 50%;
	background: var(--main-bg);
	border: 1px solid var(--te-bg);
	height: 20px;
	transition: all 25ms linear;
}


.current-lesson {
	/* filter: brightness(200%); */
	background: var(--te-bg) !important;
}

.lesson-dot-navigation-dot:nth-child(1)::before {
	content: '';
	position: absolute;
	width: 100vw;
	height: 10px;
	top: 50%;
	right: 18px;
	transform: translateY(-50%);
	background: white;
	z-index: -1;
}

.lesson-dot-navigation-dot:nth-last-child(1)::after {
	background: white;
	;
}

.lesson-dot-navigation-dot::after {
	content: '';
	position: absolute;
	width: 100vw;
	height: 10px;
	top: 50%;
	left: 18px;
	transform: translateY(-50%);
	background: var(--main-bg);
	z-index: -1;
}

.part-of-bar,
.part-of-bar::after {
	background: var(--te-bg) !important;
}

.lesson-dot-navigation .lesson-dot-navigation-dot:hover {
	/* scale: 125%; */
	background: var(--te-bg);
	/* filter: brightness(200%); */
}

.lesson-two-grav-accel {
	width: 30%;
	filter: invert(1);
}

.lesson-two-free-fall-diagram {
	height: 40%;
}

.lesson-two-equations {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.lesson-two-equations span.__Latex__ {
	padding: 0.5em;
}

.indent {
	position: relative;
	left: 3em;
}

.main-lesson-page .iframe-container {
	width: 100%;
	height: 100%;
	padding: 1em 2em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lesson-one-equation-one {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}

.lesson-one-table {
	margin: 1em;
	position: relative;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	border: 1px solid black;
}

.lesson-one-table .center-horizontal {
	background: var(--main-bg);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.lesson-one-table ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lesson-one-table ul li {
	text-align: center;
	width: 100%;
	padding: .5em;
	border: 1px solid black;
}

footer {
	background: black;
	font-family: "Libre Franklin", sans-serif;
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

footer a {
	overflow: hidden;
}

footer svg {
	overflow: hidden;
	border: 1px solid white;
	border-radius: 50%;
	padding: 0.2em;
	transition: background-color linear 250ms, color linear 250ms;
}

footer svg:hover {
	background-color: white;
	color: black;
}

@media only screen and (max-width: 1100px) {
	.page-header {
		height: 40%;
	}

	.page-header h1 {
		font-size: 4rem;
	}

	.navbar-list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav-item {
		width: 100%;
	}

	.dropdown {
		width: 15%;
	}

	.dropdown-menu-item p {
		font-size: 80%;
	}

	main.main-home-page {
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	main.main-home-page h1 {
		font-size: 3.5rem;
		font-family: 'Lato', sans-serif;
	}

	.content-container {
		height: 50%;
	}

	.clickable-dropdown-header-container {
		width: 100%;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		gap: 2rem;
		font-size: 1.5rem;
		text-align: center;
	}

	.clickable-dropdown-header-container svg {
		align-self: start;
		justify-self: center;
	}

	.clickable-dropdown-header-container a {
		align-self: center;
		font-weight: normal;
	}

	.clickable-dropdown-header-container div {
		display: none;
	}
}

@media only screen and (max-width: 800px) {

	/* body {
        background: lightblue;
    } */
	.nav-item a p {
		display: none;
	}

	.page-header {
		height: 40%;
		width: 100%;
	}

	.page-header h1 {
		font-size: 4rem;
	}

	.clickable-dropdown {
		font-size: 0.9rem;
	}

	.content-container {
		height: 50%;
	}

	.clickable-dropdown-header-container {
		font-size: 150%;
	}

	.navbar-list {
		align-items: center;
		justify-content: center;
	}

	.dropdown {
		width: 15%;
	}

	.dropdown-menu-item p {
		font-size: 1.3rem;
	}

	main.main-home-page {
		height: 60%;
	}
}

@media only screen and (max-width: 600px) {

	/* body {
        background: lightgreen;
    } */
	.navbar {
		font-size: 0.8rem;
	}

	.nav-item-text:hover {
		background: inherit !important;
		color: inherit !important;
	}

	.dropdown-menu-item p {
		font-size: 80%;
	}

	.dropdown {
		width: 20%;
	}

	.clickable-dropdown {
		width: 100%;
		font-size: 0.75rem;
	}

	.arrow-right {
		border-top: calc(0.6 * var(--triangle-size)) solid transparent !important;
		border-left: calc(1.2 * var(--triangle-size)) solid color-mix(in srgb, var(--clickable-dropdown-header-bg) 90%, white);
		border-bottom: calc(0.6 * var(--triangle-size)) solid transparent !important;
	}
}