@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --main-bg: #181818;
    --nav-bar-size: 60px;
    --se-bg: #212121;
    --te-bg: #3d3d3d;
    --text-color: #ffffff;
    --clickable-dropdown-bg: #292929;
    --clickable-dropdown-header-bg: #1d1d1d;
    --triangle-size: 15px;
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
}

body {
    background: var(--main-bg);
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--text-color);
}

.navbar {
    height: var(--nav-bar-size);
    width: 100%;
    background: var(--se-bg);
    padding: 1em 2em;
}

.navbar-list {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    color: var(--text-color);
}

.nav-item {
    width: 10%;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    /* background: var(--te-bg); */
    cursor: pointer;
}

.nav-item-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Verdana', sans-serif;
}

.dropdown {
    position: absolute;
    top: calc(var(--nav-bar-size) - 2px);
    width: 11%;
    background: var(--te-bg);
    /* padding: 1rem; */
}

.dropdown-menu-item {
    font-family: 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
}

.dropdown-menu-item p {
    padding: .5rem;
    font-size: 80%;
    /* border: 1px solid white; */
}

main {
    padding: 1em 2em;
    font-family: 'Verdana', sans-serif;
}

main h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.content-container {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.clickable-dropdown {
    width: 80%;
    background: var(--clickable-dropdown-bg);
    font-size: 1.1rem;
    font-family: Montserrat, sans-serif;
}

.clickable-dropdown-header-container {
    /* outline: 1px solid white; */
    padding: 1em 2em;
    background: var(--clickable-dropdown-header-bg);
    display: flex;
    justify-content: space-between;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: var(--triangle-size) solid transparent;
    border-left: calc(2 * var(--triangle-size)) solid color-mix(in srgb, var(--clickable-dropdown-header-bg) 90%, white);
    border-bottom: var(--triangle-size) solid transparent;
    transition: border-left 500ms linear;
}

.arrow-right:hover {
    border-left: calc(2 * var(--triangle-size)) solid white;
    /* background: color-mix(in srgb, var(--clickable-dropdown-header-bg) 90%, white); */
}

.clickable-dropdown-header {
    font-family: 'Verdana', sans-serif;
}

.clickable-dropdown-body {
    padding: 1em 2em;
}

@media only screen and (max-width: 800px) {
    /* body {
        background: lightblue;
    } */
    .clickable-dropdown {
        font-size: 0.9rem;
    }
    .navbar-list {
        gap: 10%;
        align-items: center;
        justify-content: center;
    }
    .dropdown {
        width: 15%;
    }
    .dropdown-menu-item p {
        font-size: 80%;
    }
}

@media only screen and (max-width: 600px) {
    /* body {
        background: lightgreen;
    } */
    .navbar {
        font-size: .8rem;
    }
    .navbar-list {
        gap: 12.5%;
    }
    .dropdown-menu-item p {
        font-size: 80%;
    }
    .dropdown {
        width: 20%;
    }
    .clickable-dropdown {
        width: 100%;
        font-size: 0.75rem;
    }
}